@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  font-family: "Inter", sans-serif;
  background-color: mistyrose;
}

/* dashboard */
.dashboard {
  min-height: 100vh;
}

/* TopNavbar */
.nav-income-button:hover {
  border-bottom: 2px solid rgb(3, 92, 3) !important;
}
.nav-expense-button:hover {
  border-bottom: 2px solid rgb(190, 4, 4) !important;
}

/* SideNavbar */
.side-navbar-container {
  background-color: rgb(26, 179, 206);
}
.side-bar-btn {
  background-color: dimgrey;
  color: white;
}
.side-bar-btn:hover {
  background-color: rgba(24, 23, 23, 0.733);
  color: white;
}

/* login page */
.login-page-image {
  height: 83.2vh;
  object-fit: cover;
}

/* signup page */

/* income and expanse select input */

#expense-type,
#income-type {
  height: 2.5rem !important;
}

.add-expense-button,
.add-income-button {
  margin-top: 4rem;
}
.add-income-button:hover {
  background-color: white !important;
  color: green !important;
}

/* not found page */
.not-found {
  min-height: 90vh;
  background-image: url(./notfound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
